<h1>Contact Us</h1>
<form method="post" action="/contact_submit">
  <div>
    <label for="full-name">Full Name</label>
    <input type="text" id="full-name" name="full_name">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
  </div>
  <div>
    <label for="message">Message</label>
    <textarea id="message" name="message"></textarea>
  </div>
  <input type="submit" value="Contact Us!">
</form>
