<h1>Thank you for contacting us</h1>
<h2>We've received the following info:</h2>
<p>Name: <%= @params["full_name"] %></p>
<p>Email: <%= @params["email"] %></p>
<p>Message: <%= @params["message"] %></p>
