<h1>Five Songs</h1>

<table>
  <tr>
    <th>title</th>
    <th>video link</th>
  </tr>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= link_to "watch video", song.video_link %></td>
    </tr>
  <% end %>
</table>
